<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>VAP</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css">
    <!--Markdown-->
    <link rel="stylesheet" href="/editor.md-master/css/editormd.css"/>

    <!--3D-Square.css-->
    <link rel="stylesheet" href="/css/3D-Square.css"/>

    <link rel="stylesheet" href="/css/ai.css"/>

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>

    <!--Markdown-->
    <script src="/editor.md-master/lib/marked.min.js"></script>
    <script src="/editor.md-master/lib/prettify.min.js"></script>
    <script src="/editor.md-master/lib/raphael.min.js"></script>
    <script src="/editor.md-master/lib/underscore.min.js"></script>
    <script src="/editor.md-master/lib/sequence-diagram.min.js"></script>
    <script src="/editor.md-master/lib/flowchart.min.js"></script>
    <script src="/editor.md-master/lib/jquery.flowchart.min.js"></script>
    <script src="/editor.md-master/editormd.min.js"></script>

    <!--vue-->
    <script src="/js/vue/vue.js"></script>

    <!--layer-->
    <script src="/js/layer/layer.js"></script>
    <script src="/js/laydate/laydate.js"></script>

    <!--highcharts-->
    <script src="/js/highcharts/highcharts.js"></script>

    <!--自定义-->
    <script src="/js/base.js"></script>
    <script src="/js/utils/utils.js"></script>

    <script src="/js/ai.js"></script>
    <script src="/js/mouse.js"></script>

</head>

<style>
</style>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="head" style="background: #000000;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#example-navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar">1</span>
                <span class="icon-bar">2</span>
                <span class="icon-bar">3</span>
            </button>
            <a class="navbar-brand" href="/">
                <div class="small-box">
                    <div class="small-top"></div>
                    <div class="small-bottom"></div>
                    <div class="small-left"></div>
                    <div class="small-right"></div>
                    <div class="small-before"></div>
                    <div class="small-after"></div>
                </div>
            </a>
        </div>
        <form class="navbar-form navbar-right" role="search">
            <input id="search-text" type="text" class="form-control" list="head_list" style="display: none"/>
            <datalist id="head_list">
                <option value="http">
                <option value="flight">
                <option value="taobao">
            </datalist>
        </form>
        <div class="collapse navbar-collapse" id="example-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/article">文章</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        工具 <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/utils">Utils</a></li>
                        <li><a href="/proxy">Proxy</a></li>
                        <li><a href="/entity">Entity</a></li>
                        <li><a href="/http">Http</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        生活 <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/flight">Flight</a></li>
                        <li><a href="/taobao">Taobao</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        收藏 <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a target="_blank" href="https://github.com/VanadisGithub">Github</a></li>
                        <li><a target="_blank"
                               href="http://www.runoob.com/bootstrap/bootstrap-tutorial.html">Bootstrap</a></li>
                        <li><a target="_blank" href="http://www.bootcdn.cn">BootCDN</a></li>
                        <li><a target="_blank" href="http://cdn.code.baidu.com/">BaiduCDN</a></li>
                        <li class="divider"></li>
                        <li><a target="_blank" href="https://www.bejson.com/json2javapojo/new/">JSON转JAVA</a></li>
                        <li><a target="_blank" href="https://www.bejson.com/devtools/sql2pojo/">MySql转JAVA</a></li>
                        <li class="divider"></li>
                        <li><a target="_blank" href="http://cron.qqe2.com">Cron表达式</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="mod-header" th:fragment="head2">
    <div class="cat">
        <div class="cat-box" data-cat="engine">
            <div class="layout">
                <div class="cat-group">
                    <h3 class="cat-tit">
                        <div class="cat-ico"><i class="ico-lan"></i></div>
                        自然语言处理
                    </h3>
                    <ul class="cat-list">
                        <li class="cat-item">
                            <div class="cat-item-main">
                                <span>基础文本分析</span>
                            </div>
                            <div class="cat-item-sub">
                                <div class="cat-item-row">
                                    <a href="#participle">分词/词性</a>
                                    <a href="#proper">专有名词</a>
                                    <a href="#synonym">同义词</a>
                                </div>
                            </div>
                        </li>
                        <li class="cat-item">
                            <div class="cat-item-main">
                                <span>语义解析</span>
                            </div>
                            <div class="cat-item-sub">
                                <div class="cat-item-row">
                                    <a href="#">意图/成分<i class="cat-tag is-beta"></i></a>
                                </div>
                            </div>
                        </li>
                        <li class="cat-item">
                            <div class="cat-item-main">
                                <a href="#">情感分析</a>
                            </div>
                        </li>
                        <li class="cat-item">
                            <div class="cat-item-main">
                                <span>机器翻译</span>
                            </div>
                            <div class="cat-item-sub">
                                <div class="cat-item-row">
                                    <a href="#">文本翻译</a>
                                    <a href="#">图片翻译<i class="cat-tag is-new"></i></a>
                                    <a href="#">语音翻译<i class="cat-tag is-new"></i></a>
                                </div>
                            </div>
                        </li>
                        <li class="cat-item">
                            <div class="cat-item-main">
                                <a href="#">智能闲聊<i class="cat-tag is-hot"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="cat-group">
                    <h3 class="cat-tit">
                        <div class="cat-ico"><i class="ico-image"></i></div>
                        计算机视觉
                    </h3>
                    <ul class="cat-list">
                        <li class="cat-item">
                            <div class="cat-item-main">
                                <span>OCR<i class="cat-tag is-hot"></i></span>
                            </div>
                            <div class="cat-item-sub">
                                <div class="cat-item-row">
                                    <a href="#identify">身份证识别</a>
                                    <a href="#card">名片识别</a>
                                    <a href="#driverregistration">行驶证/驾驶证识别</a>
                                </div>
                                <div class="cat-item-row">
                                    <a href="#businesslicense">营业执照识别</a>
                                    <a href="#creditcard">银行卡识别</a>
                                    <a href="#common">通用识别</a>
                                </div>
                            </div>
                        </li>
                        <li class="cat-item">
                            <div class="cat-item-main">
                                <span>人脸识别</span>
                            </div>
                            <div class="cat-item-sub">
                                <div class="cat-item-row">
                                    <a href="#detect">人脸分析</a>
                                    <a href="#multiface">多人脸检测<i class="cat-tag is-new"></i></a>
                                    <a href="#compare">人脸对比</a>
                                    <a href="#search">人脸搜索</a>
                                </div>
                                <div class="cat-item-row">
                                    <a href="#shape">五官定位</a>
                                    <a href="javascript:void(0);" class="disabled">人脸核身(即将开放)</a>
                                </div>
                            </div>
                        </li>
                        <li class="cat-item">
                            <div class="cat-item-main">
                                <span>图片识别</span>
                            </div>
                            <div class="cat-item-sub">
                                <div class="cat-item-row">
                                    <a href="#scene">物体/场景识别<i class="cat-tag is-beta"></i></a>
                                    <a href="#tag">图片标签识别</a>
                                    <a href="#express">看图说话</a>
                                </div>
                                <div class="cat-item-row">
                                    <a href="#fuzzy">模糊图片识别</a>
                                    <a href="#food">美食图片识别</a>
                                    <a href="#plants">花草识别<i class="cat-tag is-hot"></i></a>
                                </div>
                                <div class="cat-item-row">
                                    <a href="#cars">车辆识别<i class="cat-tag is-new"></i></a>
                                </div>
                            </div>
                        </li>
                        <li class="cat-item">
                            <div class="cat-item-main">
                                <span>图片特效<i class="cat-tag is-new"></i></span>
                            </div>
                            <div class="cat-item-sub">
                                <div class="cat-item-row">
                                    <a href="#">人脸融合</a>
                                    <a href="#">滤镜</a>
                                    <a href="#">人脸美妆</a>
                                </div>
                                <div class="cat-item-row">
                                    <a href="#">人脸变妆</a>
                                    <a href="#">大头贴</a>
                                    <a href="#">颜龄检测</a>
                                </div>
                            </div>
                        </li>
                        <li class="cat-item">
                            <div class="cat-item-main">
                                <a href="#">智能鉴黄</a>
                            </div>
                        </li>
                        <li class="cat-item">
                            <div class="cat-item-main">
                                <a href="#">暴恐识别</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="cat-group">
                    <h3 class="cat-tit">
                        <div class="cat-ico"><i class="ico-voice"></i></div>
                        智能语音
                    </h3>
                    <ul class="cat-list">
                        <li class="cat-item">
                            <div class="cat-item-main">
                                <span>语音识别</span>
                            </div>
                            <div class="cat-item-sub">
                                <div class="cat-item-row">
                                    <a href="#">语音识别</a>
                                    <a href="#">长语音识别<i class="cat-tag is-new"></i></a>
                                    <a href="#">关键词检索<i class="cat-tag is-new"></i></a>
                                </div>
                            </div>
                        </li>
                        <li class="cat-item">
                            <div class="cat-item-main">
                                <a href="#">语音合成<i class="cat-tag is-new"></i></a>
                            </div>
                        </li>
                        <li class="cat-item">
                            <div class="cat-item-main">
                                <span>语音唤醒(即将开放)</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="layout clearfix">
        <a href="" class="mod-header-logo"></a>

        <div class="mod-header-nav">
            <ul id="jmod-header-nav">
                <li id="nav-header-serv" class="top-cat hassub" data-cat="engine">
                    <h2><a href="javascript:void(0);">技术引擎</a><i class="top-cat-arrow"></i></h2>
                </li>
                <li id="nav-header-accelerator" class="top-cat"><h2><a href="#">AI加速器</a></h2></li>
                <li id="nav-header-info" class="top-cat"><h2><a href="#">资讯动态</a></h2></li>
                <li id="nav-header-hr" class="top-cat"><h2><a href="#">AI在腾讯</a></h2></li>
                <li id="nav-header-join" class="top-cat"><h2><a href="#">加入我们</a></h2></li>
                <li id="nav-header-doc" class="top-cat"><h2><a href="#">文档中心</a></h2></li>
            </ul>
            <i class="jmod-nav-slider slider hidden" style="transform: translateX(0px);"></i>
        </div>

        <div class="mod-header-user">
            <a href="#" target="_blank" class="try jmod-header-try">控制台</a>
            <a href="#" target="_blank" class="console jmod-header-console hidden">控制台</a>
        </div>
    </div>

</div>
</body>

<script>
    $(function () {
        $(".nav").find("li").each(function () {
            var a = $(this).find("a:first")[0];
            if ($(a).attr("href") === location.pathname) {
                $(this).addClass("active");
            } else {
                $(this).removeClass("active");
            }
        });
    });
</script>
</html>