<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>VAP</title>
</head>

<style>
    .body {
        background-color: #eee;
    }

    .article-div {
        width: 100%;
        border-radius: 3px;
        border: 1px solid #f7f7f7;
        box-shadow: 1px 1px 1px #d0d0d0;
        padding: 10px;
        margin-top: 10px;
        background-color: #ffffff;
    }

    .title {
        font-size: 20px;
        font-weight: bolder;
    }

</style>

<body class="body">


<div th:replace="common/head :: head"></div>

<div style="margin:70px 19.1%">
    <form class="form-inline">
        <span id="write-btn" class="btn btn-default">Write</span>
        <span id="test-btn" class="btn btn-default">Test</span>
    </form>
    <div class="box" style="position:relative;">
        <div th:each="article : ${articles}" th:href="@{'/article/article?articleId=' + ${article.id}}"
             class="article-div">
            <div th:text="${article.title}" class="title">标题</div>
            <div th:text="${article.createTsStr}">时间</div>
        </div>
    </div>
</div>

</body>
<script type="text/javascript">

    $(function () {
        $("#write-btn").unbind("click").click(function () {
            window.open("/article/markdown");
        });
        $("#test-btn").unbind("click").click(function () {
            $.ajax({
                url: "http://r.qzone.qq.com/cgi-bin/user/cgi_personal_card?uin=872671438",
                type: "GET",
                dataType: "jsonp", //指定服务器返回的数据类型
                success: function (data) {
                    console.log(data);
                }
            });

        });
        $(".article-div").unbind("click").click(function () {
            window.open($(this).attr("href"));
        });
    });

    function addBookmark() {
        var paramData = {};
        paramData.url = $('#url').val();
        $.ajax({
            type: "post",
            url: "/collection/addBookmark",
            data: paramData,
            dataType: "json",
            success: function (resultDate) {
                location.reload();
            },
            error: function () {
                alert('访问出错~！')
            }
        })
    }
</script>
</html>