<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>Welcome to Vap !</title>
</head>

<body background="/img/hero-bg.jpg">

<nav th:replace="common/head :: head"></nav>
<div class="container-fluid" style="margin-top: 70px;">
    <div class="col-md-3" style="width: 19.1%">
        <div class="panel panel-default">
            <div class="panel-heading">
                推荐新闻
            </div>
            <div class="panel-body">
                <strong class="panel-title">
                    <a href="#">这里是新闻列表</a>
                </strong>
                <p>
                    这里是新闻内容摘要这里是新闻内容摘要这里是新闻内容摘要这里是新闻内容摘要这里是新闻内容摘要这里是新闻内容摘要这里是新闻内容摘要这里是新闻内容摘要这里是新闻内容摘要这里是新闻内容摘要这里是新闻内容摘要这里是新闻内容摘要
                </p>
            </div>
        </div>

        <!-- 热点新闻侧边栏 -->
        <div class="panel panel-default">
            <div class="panel-heading">
                热点新闻
                <a href="#" class="text-muted pull-right">>></a>
            </div>
            <ul class="list-group">
                <li class="list-group-item" style="border: 0;">
                    <a href="#" class="text-muted">新闻标题列表</a>
                </li>
            </ul>
        </div>

        <!-- 多媒体 -->
        <div class="panel panel-default">
            <div class="panel-heading">
                推荐视频
                <a href="#" class="text-muted pull-right">>></a>
            </div>
            <ul class="media-list" style="margin: 5px;">
                <li>
                    <div class="media">
                        <div class="media-left">
                            <img src="img/me.png" style="width: 50px;height: 50px;" class="media-object"/>
                        </div>
                        <div class="media-body">
                            <strong class="media-heading">这是视频的标题</strong>
                            <p>多媒体列表项介绍</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <!-- 广告位 -->
        <a href="#">
            <img src="img/1.png" style="width: 100%;height: 100px;"/>
        </a>
    </div>
    <div class="col-md-9" style="width: 61.8%">
        <div class="list-group">
            <div class="list-group-item" style="border: 0;">
                <a href="#"><h4>这是标题部分</h4></a>
                <p>
                    <small>发布时间: 2016-6-6</small>
                    <small>点击量: <span class="badge">20</span></small>
                </p>
                <p class="text-muted">
                    这是内容部分这是内容部分这是内容部分这是内容部分这是内容部分这是内容部分这是内容部分这是内容部分这是内容部分这是内容部分这是内容部分这是内容部分这是内容部分这是内容部分这是内容部分这是内容部分这是内容部分这是内容部分这是内容部分这是内容部分这是内容部分这是内容部分这是内容部分这是内容部分这是内容部分这是内容部分这是内容部分这是内容部分
                </p>
                <p>
                    <span class="badge">关键字</span>
                    <span class="badge">关键字</span>
                    <span class="badge">关键字</span>
                </p>
            </div>
            <div style="border: 1px dashed #ddd;"></div>
            <!-- 分页 -->
            <div class="text-center">
                <ul class="pagination">
                    <!-- 向前符号 -->
                    <li><a href="#">«</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 侧边栏 -->
    <div class="col-md-3" style="width: 19.1%">
        <div class="panel panel-default">
            <div class="panel-heading">
                推荐新闻
            </div>
            <div class="panel-body">
                <strong class="panel-title">
                    <a href="#">这里是新闻列表</a>
                </strong>
                <p>
                    这里是新闻内容摘要这里是新闻内容摘要这里是新闻内容摘要这里是新闻内容摘要这里是新闻内容摘要这里是新闻内容摘要这里是新闻内容摘要这里是新闻内容摘要这里是新闻内容摘要这里是新闻内容摘要这里是新闻内容摘要这里是新闻内容摘要
                </p>
            </div>
        </div>

        <!-- 热点新闻侧边栏 -->
        <div class="panel panel-default">
            <div class="panel-heading">
                热点新闻
                <a href="#" class="text-muted pull-right">>></a>
            </div>
            <ul class="list-group">
                <li class="list-group-item" style="border: 0;">
                    <a href="#" class="text-muted">新闻标题列表</a>
                </li>
            </ul>
        </div>

        <!-- 多媒体 -->
        <div class="panel panel-default">
            <div class="panel-heading">
                推荐视频
                <a href="#" class="text-muted pull-right">>></a>
            </div>
            <ul class="media-list" style="margin: 5px;">
                <li>
                    <div class="media">
                        <div class="media-left">
                            <img src="img/me.png" style="width: 50px;height: 50px;" class="media-object"/>
                        </div>
                        <div class="media-body">
                            <strong class="media-heading">这是视频的标题</strong>
                            <p>多媒体列表项介绍</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <!-- 广告位 -->
        <a href="#">
            <img src="img/1.png" style="width: 100%;height: 100px;"/>
        </a>
    </div>
</div>

</body>
</html>