<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>VAP</title>
</head>

<style>
    .body {
        background-color: #eee;
    }

    span {
        font-weight: bolder;
    }
</style>
<body class="body">

<div th:replace="common/head :: head"></div>

<div style="margin:70px">
    <form class="form-horizontal">
        <div class="form-inline">
            <span>package</span>
            <input id="packageName" class="form-control" placeholder="包名" type="text">
        </div>
        <div class="form-inline">
            <span>class</span>
            <input id="className" class="form-control" placeholder="类名" type="text">
            <span>extends</span>
            <input id="superClassName" class="form-control" placeholder="父类" type="text">
            <span>implements</span>
            <input id="implementsList" class="form-control" placeholder="接口" type="text">
        </div>
    </form>
</div>

</body>
<script type="text/javascript">

    $(function () {
        $("#timestamp").val(new Date().getTime());
        timestampToDate();

        $("#timestamp").keypress(function (event) {
            if (event.keyCode == 13) {
                timestampToDate();
            }
        });
        $("#switch-btn").unbind("click").click(function () {
            timestampToDate();
        });
    });

    function timestampToDate() {
        var timestamp = $("#timestamp").val();
        if (timestamp.length <= 10) {
            timestamp = timestamp * 1000;
        }
        var dateStr = new Date(parseInt(timestamp)).toLocaleString();
        if (dateStr == 'Invalid Date') {
            dateStr = '无效的时间戳';
        }
        $('#date').val(dateStr);
        Utils.copyToClipboard(dateStr);
    }
</script>
</html>