<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>VAP</title>
</head>

<style>
    .body {
        background-color: #eee;
    }
</style>

<body class="body">

<div th:replace="common/head :: head"></div>

<div style="margin:70px">
    <form class="form-inline">
        <input id="depCity" class="form-control" type="text" placeholder="默认杭州">
        <span id="switch-btn" class="btn btn-default" style="margin-left: 5px;margin-right: 5px"><></span>
        <input id="arrCity" class="form-control" type="text" placeholder="默认昆明">
        <span id="search-btn" class="btn btn-default" style="margin-left: 20px;margin-right: 20px">查询</span>
        <div class="input-group date">
            <input id="start-date" type="text" class="form-control">
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </div>
        </div>
        <!--<span id="highcharts-btn" class="btn btn-default" style="margin-left: 20px;margin-right: 20px">折线图</span>-->
    </form>

    <div id="flight-chart" style="margin-top: 20px;"></div>

    <table id="flight-table" class="table table-hover" style="margin-top: 20px;background-color: #fff">
        <thead>
        <tr>
            <th width="10%">日期</th>
            <th width="10%"><a target="_blank" href="https://flight.qunar.com/">去哪儿</a></th>
            <th width="10%"><a target="_blank" href="http://www.meituan.com/iflight/">美团</a></th>
            <th width="10%"><a target="_blank" href="https://trip.jd.com/">京东</a></th>
            <th width="10%"><a target="_blank" href="https://www.fliggy.com/jipiao/">飞猪</a></th>
            <th width="10%"><a target="_blank" href="http://flights.ctrip.com/">携程</a></th>
        </tr>
        </thead>
        <tbody id="flight-body">
        <tr v-for="day in x_value">
            <td>{{day}}</td>
            <td>{{flightData.data.qunar[day]}}</td>
            <td>{{flightData.data.meituan[day]}}</td>
            <td>{{flightData.data.jingdong[day]}}</td>
            <td>{{flightData.data.feizhu[day]}}</td>
            <td>{{flightData.data.xiecheng[day]}}</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
<script type="text/javascript">

    var flightTableVM;

    $(function () {
        laydate.render({
            elem: '#start-date',
            theme: '#101010'
        });
        $("#switch-btn").unbind("click").click(function () {
            var city = $("#depCity").val();
            $("#depCity").val($("#arrCity").val());
            $("#arrCity").val(city);
            timestampToDate();
        });

        $("#search-btn").unbind("click").click(function () {
            timestampToDate();
        });

        flightTableVM = new Vue({
            el: "#flight-table",
            data: {
                flightData: {},
                x_value: []
            },
            methods: {}
        });
    });

    function timestampToDate() {

        var depCity = $("#depCity").val();
        if (Utils.isUfOrNullOrEmpty(depCity)) {
            depCity = '杭州';
        }
        var arrCity = $("#arrCity").val();
        if (Utils.isUfOrNullOrEmpty(arrCity)) {
            arrCity = '昆明';
        }
        var startDate = $("#start-date").val();
        if (Utils.isUfOrNullOrEmpty(startDate)) {
            startDate = Utils.getDate();
        }

        var paramData = {};
        paramData.depCity = depCity;
        paramData.arrCity = arrCity;
        paramData.startDate = startDate;
        $.ajax({
            type: "post",
            url: "/flight/getFlight",
            data: paramData,
            dataType: "json",
            success: function (resultDate) {

                flightTableVM.flightData = resultDate;

                var quanr = resultDate.data.qunar;
                var meituan = resultDate.data.meituan;
                var jingdong = resultDate.data.jingdong;
                var feizhu = resultDate.data.feizhu;
                var xiecheng = resultDate.data.xiecheng

                var x_value = [];

                var qunarData = {};
                qunarData.name = "去哪儿";
                qunarData.data = [];
                qunarData.color = "#00AFC7";

                var meituanData = {};
                meituanData.name = "美团";
                meituanData.data = [];
                meituanData.color = "#28BBAC";

                var jingdongData = {};
                jingdongData.name = "京东";
                jingdongData.data = [];
                jingdongData.color = "#E83632";

                var feizhuData = {};
                feizhuData.name = "飞猪";
                feizhuData.data = [];
                feizhuData.color = "#FFC900";

                var xiechengData = {};
                xiechengData.name = "携程";
                xiechengData.data = [];
                xiechengData.color = "#2577E3";

                for (var i = 0; i < 29; i++) {
                    var date = new Date(startDate);
                    date.setDate(date.getDate() + i);
                    var key = Utils.getDate(date);
                    x_value.push(key);

                    addFlightData(qunarData.data, quanr[key]);
                    addFlightData(meituanData.data, meituan[key]);
                    addFlightData(jingdongData.data, jingdong[key]);
                    addFlightData(feizhuData.data, feizhu[key]);
                    addFlightData(xiechengData.data, xiecheng[key]);
                }

                flightTableVM.x_value = x_value;

                var flightData = [];
                flightData.push(qunarData);
                flightData.push(meituanData);
                flightData.push(jingdongData);
                flightData.push(feizhuData);
                flightData.push(xiechengData);

                showHighCharts(flightData, x_value);
            },
            error: function () {
                errorMsg();
            }
        });
    }

    function addFlightData(arr, data) {
        if (Utils.isUfOrNullOrEmpty(data)) {
            arr.push(null);
        } else {
            arr.push(data);
        }
    }

    function showHighCharts(flightData, x_value) {
        var chart = new Highcharts.Chart('flight-chart', {
            chart: {
                type: 'spline',
                height: '500'
            },
            title: {
                text: '各平台机票最低价走势',
                x: -20
            },
            subtitle: {
                text: '点击右侧隐藏平台',
                x: -20
            },
            xAxis: {
                categories: x_value,
            },
            yAxis: {
                min: 1,
                tickInterval: 100,
                title: {
                    text: '元'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }],
            },
            tooltip: {
                shared: true,
                useHTML: true,
                headerFormat: '<small>{point.key}</small><table>',
                pointFormatter: function () {
                    return '<tr>' +
                        '<td style="text-align: left;color: ' + this.series.color + '">' + this.series.name + ': </td>' +
                        '<td style="text-align: right"><b>' + this.y + '元</b></td></tr>';
                },
                footerFormat: '</table>'
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true,
                        color: '#000000', // 开启数据标签
                    },
                    gapSize: 500
                },
                spline: {
                    marker: {
                        enabled: true,
                        radius: 3
                    }
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: flightData,
            credits: {
                enabled: false
            },
        });
    }

</script>
</html>