<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>VAP</title>
</head>

<style>
    .body {
        background-color: #eee;
    }

    span {
        font-weight: bolder;
    }
</style>
<body class="body">

<div th:replace="common/head :: head"></div>

<div style="padding:70px 70px 0px">
    <div class="row">
        <div class="form-inline">
            <input id="url" class="form-control" placeholder="网址/URL" type="text" style="width:89%">
            <select id="send-type" class="form-control" style="width:5%;">
                <option value="post">Post</option>
                <option value="get">Get</option>
            </select>
            <span id="send-btn" class="btn btn-default" style="width:5%;">Send</span>
        </div>
    </div>
    <div class="row" style="margin-top: 10px">
        <div style="width: 48%; float:left;">
            <form>
                <div class="form-group">
                    <span style="font-size: 24px;font-weight: normal">Header：(跳过Content-Length)</span>
                </div>
                <div class="form-group">
                    <textarea id="headerText" class="form-control" style="min-width: 100%;max-width: 100%;height: 300px"
                              placeholder="可传如下格式：&#13;&#10;Accept:text/plain, */*; q=0.01&#13;&#10;Accept-Encoding:gzip, deflate&#13;&#10;Accept-Language:zh-CN,zh;q=0.9&#13;&#10;Connection:keep-alive"
                    ></textarea>
                </div>
                <div class=" form-group">
                    <span style="font-size: 24px;font-weight: normal">Data：</span>
                </div>
                <div class="form-group">
                    <textarea id="bodyText" class="form-control" style="min-width: 100%;max-width: 100%;height: 100px"
                              placeholder="可传如下格式：siteId=42482792&t=1517760016466"></textarea>
                </div>
            </form>
        </div>
        <div style="width: 48%; float:right;">
            <div class="form-group">
                <span style="font-size: 24px;font-weight: normal">Result：</span>
                <span id="status"></span>
            </div>
            <div class="form-group">
            <textarea id="resultText" class="form-control" style="min-width: 100%;max-width: 100%;height: 465px"
                      placeholder=""></textarea>
            </div>
            <div id="resultHtml">

            </div>
        </div>
    </div>
</div>

</body>
<script type="text/javascript">

    $(function () {
        $("#send-btn").unbind("click").click(function () {
            send();
        });
    });

    function send() {
        var paramData = {};
        paramData.url = $("#url").val();
//        if (paramData.url.indexOf('?') > -1) {
//            $("#send-type").val('get');
//        }
        paramData.sendType = $("#send-type").val();
        var headerMap = {};
        var headers = Utils.splitText($("#headerText").val());
        for (var i in headers) {
            var str = headers[i];
            var arr = [str.split(":")[0], str.split(":").slice(1).join(":")];
            var header = arr[0];
            var value = arr[1];
            if (header == 'Content-Length') {
                continue;
            }
            if (!Utils.isUfOrNullOrEmpty(header) && !Utils.isUfOrNullOrEmpty(value)) {
                headerMap[header] = value;
            }
        }
        paramData.headerMap = JSON.stringify(headerMap);
        paramData.dataStr = $('#bodyText').val();
        $.ajax({
            type: "post",
            url: "/http/send",
            data: paramData,
            dataType: "json",
            success: function (resultDate) {
                if (resultDate.status == 200) {
                    $('#status').html('<span style="color:green;font-size: 24px;font-weight: normal">' + resultDate.status + '</span>');
                } else {
                    $('#status').html('<span style="color:red;font-size: 24px;font-weight: normal">' + resultDate.status + '</span>');
                }
                $('#resultText').val(resultDate.result);
            },
            error: function () {
                alert('访问出错~！')
            }
        });
    }
</script>
</html>