<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>VAP</title>
</head>

<style>
    .body {
        background-color: #eee;
    }
</style>

<body class="body">
<style type="text/css">

    #visitUrl {
        min-width: 42%;
        max-width: 42%;
    }

    textarea {
        min-width: 42%;
        max-width: 42%;
        min-height: 80%;
    }
</style>

<div th:replace="common/head :: head"></div>

<div style="margin:70px;">
    <form class="form-inline" style="font-size: 18px">
        <span>Perfect Proxy:</span>
        <span th:text="${perfectNum}" style="color: darkred"></span>
        <span style="margin-left: 20px">Good Proxy:</span>
        <span th:text="${goodNum}" style="color: dodgerblue"></span>
    </form>
    <form class="form-inline" style="margin-top: 20px">
        <span>链接：</span>
        <textarea id="visitUrl" class="form-control" type="text"></textarea>
        <span id="visit-btn" class="btn btn-default" style="margin-left: 20px;margin-right: 20px">访问</span>
    </form>
    <form class="form-inline" style="margin-top: 20px">
        <span>西刺：</span>
        <textarea id="htmlText" class="form-control" type="text"></textarea>
        <span id="switch-btn" class="btn btn-default" style="margin-left: 20px;margin-right: 20px">转换</span>
        <textarea id="proxyText" class="form-control" type="text"></textarea>
    </form>
    <form class="form-inline" style="margin-top: 20px">
        <span>大爷：</span>
        <textarea id="htmlText2" class="form-control" type="text"></textarea>
        <span id="switch-btn2" class="btn btn-default" style="margin-left: 20px;margin-right: 20px">转换</span>
        <textarea id="proxyText2" class="form-control" type="text"></textarea>
    </form>
</div>

</body>
<script type="text/javascript">
    //@ sourceURL=test.js
    $(function () {
        $("visitUrl").keypress(function (event) {
            if (event.keyCode == 13) {
                visitByProxy();
            }
        });
        $("#visit-btn").unbind("click").click(function () {
            visitByProxy();
        });

        $("#htmlText").keypress(function (event) {
            if (event.keyCode == 13) {
                htmlToProxy();
            }
        });
        $("#switch-btn").unbind("click").click(function () {
            htmlToProxy();
        });
        $("#switch-btn2").unbind("click").click(function () {
            htmlToProxy2();
        });
    });

    function visitByProxy() {
        var paramData = {};
        var url = $("#visitUrl").val();
        paramData.url = url;
        $.ajax({
            type: "post",
            url: "/proxy/visitByProxy",
            data: paramData,
            dataType: "json",
            success: function (resultDate) {
                $("#proxyText").val(resultDate.result);
            },
            error: function () {
                errorMsg();
            }
        });
    }

    function htmlToProxy() {
        var paramData = {};
        var html = $("#htmlText").val();
        paramData.html = html;
        $.ajax({
            type: "post",
            url: "/proxy/htmlToProxy",
            data: paramData,
            dataType: "json",
            success: function (resultDate) {
                $("#proxyText").val(resultDate.result);
            },
            error: function () {
                errorMsg();
            }
        })
    }

    function htmlToProxy2() {
        var paramData = {};
        var html = $("#htmlText2").val();
        paramData.html = html;
        $.ajax({
            type: "post",
            url: "/proxy/htmlToProxy2",
            data: paramData,
            dataType: "json",
            success: function (resultDate) {
                $("#proxyText").val(resultDate.result);
            },
            error: function () {
                errorMsg();
            }
        })
    }
</script>
</html>