<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>VAP</title>
</head>

<style>
    .body {
        background-color: #eee;
    }

    .util-name {
        text-align: right;
        width: 100px;
    }

    textarea {
        min-width: 40%;
        width: 40%;
        max-width: 40%;
        height: 200px;
    }
</style>

<body class="body">

<div th:replace="common/head :: head"></div>
<div style="margin:70px">
    <form class="form-inline">
        <span class="util-name">时间戳：</span>
        <input id="timestamp" class="form-control" type="text">
        <span id="time-switch-btn" class="btn btn-default"
              style="margin-left: 20px;margin-right: 20px">转换</span>
        <input id="date" class="form-control" type="text">
    </form>
    <form class="form-inline" style="margin-top: 20px">
        <span class="util-name">base64：</span>
        <textarea id="base64-decode-text" class="form-control" type="text" placeholder="原文"></textarea>
        <span id="base64-encode-btn" class="btn btn-default" style="">Encode</span>
        <span id="base64-decode-btn" class="btn btn-default" style="">Decode</span>
        <textarea id="base64-encode-text" class="form-control" type="text" placeholder="密文"></textarea>
    </form>
    <form class="form-inline" style="margin-top: 20px">
        <span class="util-name">url：</span>
        <textarea id="url-decode-text" class="form-control" type="text" placeholder="原文"></textarea>
        <span id="url-encode-btn" class="btn btn-default" style="">Encode</span>
        <span id="url-decode-btn" class="btn btn-default" style="">Decode</span>
        <textarea id="url-encode-text" class="form-control" type="text" placeholder="密文"></textarea>
    </form>
    <form class="form-inline" style="margin-top: 20px">
        <img id="image" src="" accept="image/png,image/gif,image/jpeg"/>
        <br/>
        <input type="file" onchange="selectImage(this);"/>
        <br/>
        <input type="button" onclick="uploadImage();" value="提交"/>
    </form>
</div>
</body>
<script type="text/javascript">

    $(function () {
        $("#timestamp").val(new Date().getTime());
        timestampToDate();

        $("#timestamp").keypress(function (event) {
            if (event.keyCode == 13) {
                timestampToDate();
            }
        });
        $("#time-switch-btn").unbind("click").click(function () {
            timestampToDate();
        });
        $("#base64-encode-btn").unbind("click").click(function () {
            var base64DecodeText = $("#base64-decode-text").val();
            base64(base64DecodeText, 1);
        });
        $("#base64-decode-btn").unbind("click").click(function () {
            var base64EncodeText = $("#base64-encode-text").val();
            base64(base64EncodeText, 2);
        });
        $("#url-encode-btn").unbind("click").click(function () {
            $("#url-encode-text").val(encodeURI($("#url-decode-text").val()));
        });
        $("#url-decode-btn").unbind("click").click(function () {
            $("#url-decode-text").val(decodeURI($("#url-encode-text").val()));
        });
    });

    function timestampToDate() {
        var timestamp = $("#timestamp").val();
        if (timestamp.length <= 10) {
            timestamp = timestamp * 1000;
        }
        var dateStr = new Date(parseInt(timestamp)).toLocaleString();
        if (dateStr == 'Invalid Date') {
            dateStr = '无效的时间戳';
        }
        $('#date').val(dateStr);
    }

    function base64(str, type) {
        str = str.replace(/[\r\n]/g, "");
        if (Utils.isUfOrNullOrEmpty(str)) {
            errorMsg("给点东西喽！");
            return;
        }
        $.ajax({
            type: "post",
            url: "/utils/base64",
            data: {str: str, type: type},
            dataType: "json",
            success: function (resultDate) {
                if (type == 1) {
                    $("#base64-encode-text").val(resultDate.data);
                } else {
                    $("#base64-decode-text").val(resultDate.data);
                }
            },
            error: function () {
                errorMsg();
            }
        });
    }

    var image = '';

    function selectImage(file) {
        if (!file.files || !file.files[0]) {
            return;
        }
        var reader = new FileReader();
        reader.onload = function (evt) {
            document.getElementById('image').src = evt.target.result;
            image = evt.target.result;
        }
        reader.readAsDataURL(file.files[0]);
    }

    function uploadImage() {
//        var _file = $("#image").files[0];
//        if (_file.size > 1048576) {
//            alert("上传logo请小于1M");
//            return false;
//        }
//        if (!/image\/\w+/.test(_file.type)) {
//            alert("文件必须为图片！");
//            return false;
//        }
        $.ajax({
            type: 'POST',
            url: 'utils/img',
            data: {image: image, type: 1},
            async: false,
            dataType: 'json',
            success: function (result) {
                if (result.success) {
                    errorMsg(result.data);
                } else {
                    errorMsg('上传失败');
                }
            },
            error: function (err) {
                errorMsg('网络故障');
            }
        });

    }
</script>
</html>